---
import type { GetStaticPaths } from "astro";
import Layout from "@layouts/Layout.astro";
import newsService from "@service/news.service";
import News from "@components/News/News.astro";
import Pagination from "@components/Pagination/Pagination.astro";

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  const newsResponse = await newsService.getAll();
  console.log("Response", newsResponse);

  return paginate(newsResponse.data, {
    pageSize: 1,
  });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout title="News">
  <h4 class="text-4xl mb-3">News</h4>

  <section class="flex flex-col gap-y-2 flex-grow">
    {page.data.map((v) => <News news={v} />)}
  </section>

  <Pagination page={page} class="" />
</Layout>
