---
import Layout from "@layouts/Layout.astro";
import categoryService from "@service/category.service";

const { pathname } = Astro.url;

const res = await categoryService.getAll({ pageSize: -1 });
---

<Layout title="News">
  <h4 class="mb-4 text-3xl text-center">News category</h4>
  <section class="flex gap-x-3 justify-evenly">
    {
      res.data.map((v) => (
        <a class="text-xl link" href={pathname + `/${v.slug}/${1}`}>
          {v.name}
        </a>
      ))
    }
  </section>
</Layout>

<style>
  .link {
    position: relative;
    transition: all 0.5s ease-out;
  }

  .link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.5s ease-out;
    transform-origin: left;
  }

  .link:hover::after {
    transform: scaleX(1);
  }
</style>
