---
import type { News } from "src/interfaces";
import { routes } from "src/routes";
import { marked } from "marked";
import { confMarldownNewsSmall } from "@helpers/index";

interface Props {
  news: News;
}

const { news } = Astro.props;
---

<article class="rounded py-3 px-2 border">
  <h5 class="text-3xl">
    <a href={routes.NewsById + news.documentId}>{news.title}</a>
  </h5>
  <article
    class="flex gap-x-2"
    set:html={marked.parse(news.content, { renderer: confMarldownNewsSmall() })}
  />
</article>
