---
import Authorization from "@components/Authorization";
import ToastList from "@components/Toast/ToastList";
import type { HeaderLink } from "src/interfaces";
import { routes } from "src/routes";

const links: HeaderLink[] = [
  {
    title: "Home",
    href: routes.Home,
  },
  {
    title: "News",
    href: routes.News,
  },
];
---

<header class="container mx-auto py-3 px-5">
  <section class="flex items-center justify-between">
    <nav class="flex gap-x-3">
      {links.map((v) => <a href={v.href}>{v.title}</a>)}
    </nav>

    <ToastList client:only="preact" />
    <Authorization client:only="preact" />
  </section>
</header>
