---
import { SurveyModal } from "@components/Survey";
import Footer from "@layouts/Footer.astro";
import Header from "@layouts/Header.astro";
import clsx from "clsx";

interface Props {
  title: string;
  class?: string;
}

const { title, class: mainClass } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <slot name="head" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col" id="root">
    <Header />
    <main class={clsx("container mx-auto flex-grow flex flex-col", mainClass)}>
      <slot />
    </main>
    <SurveyModal client:only="preact" />
    <Footer />
  </body>
</html>

<style is:global>
  html,
  body {
    min-height: 100dvh;
  }
</style>
