---
import Layout from "@layouts/Layout.astro";
---

<Layout title="403 Forbidden">
  <section class="flex-grow flex flex-col items-center justify-center">
    <p class="text-5xl sm:text-7xl md:text-8xl text-center">403 Forbidden</p>
    <p class="text-xl md:text-3xl font-light text-gray-500 text-center">
      Access is denied
    </p>
  </section>
</Layout>
