---
import Layout from "@layouts/Layout.astro";
---

<Layout title="404" >
    <section class="flex-grow flex flex-col items-center justify-center text-center">
        <h1 class="text-5xl sm:text-7xl md:text-8xl">ERROR 404</h1>
        <p class="text-xl md:text-3xl mt-4 text-gray-700 font-light">This page does not exists</p>
    </section>
</Layout>
