---
import { ButtonAstro } from "@components/Button";
import { TextFieldAstro } from "@components/TextFields";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Log In" class="justify-center">
  <section>
    <form class="max-w-lg mx-auto py-4 flex flex-col gap-y-3">
      <TextFieldAstro placeholder="Email" name="email" />

      <TextFieldAstro placeholder="Password" name="password" />

      <ButtonAstro type="submit">Log In</ButtonAstro>
    </form>
  </section>
</Layout>

<script>
  import { useLocalStorage } from "@helpers/localStorageHelper";
  import { actions } from "astro:actions";
  import { navigate } from "astro:transitions/client";
  import { storageName } from "src/constant/storageName";

  const form = document.querySelector("form");
  form?.addEventListener("submit", async (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    const { error, data } = await actions.auth.login(formData);

    if (data?.access_token) {
      useLocalStorage(storageName.AccessToken).set(data?.access_token);
      navigate("/");
    }
  });
</script>
