---
import TextField from "@components/TextField.astro";
import Button from "@components/Button.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Log In" class="justify-center">
  <section>
    <form class="max-w-lg mx-auto py-4 flex flex-col gap-y-3">
      <TextField placeholder="Email" name="email" />

      <TextField placeholder="Password" name="password" />

      <Button type="submit">Log In</Button>
    </form>
  </section>
</Layout>

<script>
  import { actions } from "astro:actions";
  import { navigate } from "astro:transitions/client";
  import { storageName } from "src/constant/storageName";

  const form = document.querySelector("form");
  form?.addEventListener("submit", async (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    const { error, data } = await actions.auth.login(formData);
    console.log({ error, data });
    if (data?.access_token) {
      localStorage.setItem(storageName.AccessToken, data?.access_token);
      navigate("/");
    }
  });
</script>
