---
import TextField from "@components/TextField.astro";
import Button from "@components/Button.astro";
import { actions } from "astro:actions";
import Layout from "@layouts/Layout.astro";

const result = Astro.getActionResult(actions.auth.signUp);
if (result && !result.error) {
  return Astro.redirect(`/auth/login`);
}
---

<Layout title="Sign Up" class="justify-center">
  <section>
    <form
      class="max-w-lg mx-auto py-4 flex flex-col gap-y-3"
      method="post"
      action={actions.auth.signUp}
    >
      <p class="text-center text-xl font-normal">Registration account</p>
      <TextField placeholder="Email" name="email" />
      <TextField placeholder="Name" name="name" />
      <TextField placeholder="Password" name="password" />

      <Button type="submit">Registration</Button>
    </form>
  </section>
</Layout>
