---
import { actions } from "astro:actions";
import Layout from "@layouts/Layout.astro";
import { TextFieldAstro } from "@components/TextFields";
import { ButtonAstro } from "@components/Button";

// const result = Astro.getActionResult(actions.auth.signUp);
// if (result && !result.error) {
//   return Astro.redirect(`/auth/login`);
// }
---

<Layout title="Sign Up" class="justify-center">
  <section>
    <form class="max-w-lg mx-auto py-4 flex flex-col gap-y-3">
      <p class="text-center text-xl font-normal">Registration account</p>
      <TextFieldAstro placeholder="Email" name="email" />
      <TextFieldAstro placeholder="Name" name="name" />
      <TextFieldAstro placeholder="Password" name="password" />

      <ButtonAstro type="submit">Registration</ButtonAstro>
    </form>
  </section>
</Layout>

<script>
  import { addToast } from "@components/Toast/index";
  import { actions } from "astro:actions";
  import { navigate } from "astro:transitions/client";
  import { nanoid } from "nanoid";

  const form = document.querySelector("form");
  form?.addEventListener("submit", async (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    const { error, data } = await actions.auth.signUp(formData);

    if (data) {
      navigate("/auth/login");
    }

    if (error) {
      addToast({
        id: nanoid(),
        message: `Fail registration `,
        type: "error",
      });
    }
  });
</script>
