---
import type { User } from "src/interfaces";
import userService from "src/service/user.service";

let res: User = {
  id: 0,
  email: "",
  name: "",
};

if (globalThis.window) {
  res = await userService.getProfile();
}
---

<section>
  <p>{res.id}</p>
  <p>{res.name}</p>
  <p>{res.email}</p>
</section>

<script>
  import userService from "src/service/user.service";

  const res = await userService.getProfile();
  console.log(res);
</script>
