---
import { confMarkdownAsParagraph, confMarkdownNews } from "@helpers/index";
import type { IForum } from "@interfaces/forum";
import { marked } from "marked";
import { routes } from "src/routes";

interface Props {
  forum: IForum;
}

const { forum } = Astro.props;

const paragraphs = forum.content.split("\n");
const textOnly = paragraphs[0].replace(/<[^>]+>/g, "");
---

<section class="px-3 py-2 border rounded hover:shadow-xl duration-1000">
  <p class="text-xl">
    <a href={routes.Forum + `/${forum.documentId}/${forum.slug}`}
      >{forum.title}</a
    >
  </p>
  <article
    set:html={marked.parse(textOnly, { renderer: confMarkdownAsParagraph() })}
  />
  <p class="text-sm">{new Date(forum.createdAt).toLocaleDateString()}</p>
</section>
