---
import { FundraisingsPay } from "@components/Fundraisings";
import Layout from "@layouts/Layout.astro";

const { id, slug } = Astro.params;
---

<Layout title="">
  <h1>Title</h1>
  <FundraisingsPay />
  <div></div>
</Layout>
