---
import { ChatList } from "@components/Chat";
import ShowProfile from "@components/ShowProfile";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Profile">
  <ChatList class="flex-grow" client:only="preact" />
  <section>
    <!-- <ShowProfile client:only="preact" /> -->
  </section>
</Layout>
