---
import ShowProfile from "@components/ShowProfile.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Profile">
  <section>
    <h6>Profile</h6>

    <ShowProfile client:load />
  </section>
</Layout>


