---
import { ButtonAstro } from "@components/Button";
import type { IVoting } from "@interfaces/index";
import { routes } from "src/routes";

interface Props {
  voting: IVoting;
}

const { voting } = Astro.props;
---

<section class="rounded bg-gray-200 px-2 py-3 hover:scale-x-105 duration-300">
  <!-- hover:border hover:border-gray-600 -->
  <a class="text-lg" href={routes.Votings + `/${voting.slug}`}>{voting.name}</a>
</section>
